<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <title>Liste des Editeurs</title>
</head>

<body>
    {{> header}}
    <h1>Liste des Editeurs</h1>
    <ul>
        {{#each editors}}
        <li><a href="/editorDetails/{{this.id}}-{{this.editorName}}">{{this.editorName}}</a>
            <form action="/deleteEditor/{{this.id}}-{{this.editorName}}" method="POST" style="display:inline;">
                <button type="submit" class="deleteButton">Supprimer</button>
            </form>   
            <form action="/modifyEditor/{{this.id}}-{{this.editorName}}" method="GET" style="display:inline;">
                <button type="submit" class="modifyButton">Modifier</button>
            </form>
        {{/each}}
    </ul>
</body>

</html>