<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <title>Détails de l'éditeur</title>
</head>

<body>
    {{> header}}
    <h1><strong>{{editor.editorName}}</strong></h1>
    <p>Voici la liste des jeux de {{editor.editorName}} :</p>
    <ul>
    {{#each games}}
        <li><a href="/gameDetails/{{this.id}}-{{this.name}}">{{this.name}}</a></li>
    {{/each}}
    </ul>

</body>

</html>