<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <title>Détails du jeu</title>
</head>

<body>
    {{> header}}
    <h1>{{game.name}}</h1>
        <a href="/genreDetails/{{genre.id}}-{{genre.genre}}" id="genreInGameDetails">{{genre.genre}}</a>
        <a href="/editorDetails/{{editor.id}}-{{editor.editorName}}" id="editorInGameDetails">{{editor.editorName}}</a><br><br>
        <p id="paragraphGameDetails">{{game.description}}</p>
        <p>(jeu paru le {{game.releaseDate}})</p>

</body>
</html>