<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <title>Détails du genre</title>
</head>

<body>
    {{> header}}
    <h1><strong>{{genre.genre}}</strong></h1>
    <p>Voici la liste des jeux du genre {{genre.genre}} :</p>
    <ul>
    {{#each games}}
        <li><a href="/gameDetails/{{this.id}}-{{this.name}}">{{this.name}}</a></li>
    {{/each}}
    </ul>
</body>

</html>